.card-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-description button {
    flex: 1;
    margin-left: 5px;
}

.cart-item-content{
    width: 60%;
    font-size: 4dvi;
    text-align: center;
}

.cart-item-name {
    font-family: "DejaVu Sans", serif;
    font-size: 4dvi;
}

.cart-item-count {
    font-size: 4dvi;
}

.cart-item-price {

}